{% extends "bases/bootstrap-auth.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}BS{% endblock %}

{% block inner-content %}
{% get_providers as socialaccount_providers %}





<!--<img class="media-object pull-left" style="margin-right:10px" src="https://cdn0.iconfinder.com/data/icons/internet-3-2/64/user_internet_activity_connected-32.png">-->
<!--<h3>{% trans "Start matching me to jobs" %}</h3>-->


<br>
<br>
<h3>Let's start by matching you to the best jobs.<small><strong>  16,879</strong> jobs to be exact.</small></h3>

<!--<p class="lead"><strong>6,879</strong> new jobs await you, we just need to narrow them down.</p>-->

<br>
<br>
<br>
<br>
  
<div class="row">
  
  {% if socialaccount_providers  %}
  <div class="col-md-5 col-lg-5">
    <!--<p class="text-center lead">Sign in with Facebook</p>-->
    {% include "allauth/account/provider_panel.html" with process="login" %}
  </div>
  {% endif %}

  <div class="{% if socialaccount_providers %}col-md-7 col-lg-7 {% else %} col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 {% endif %}">
    
    
<br>
    <p class="lead text-center"><i>(Don't worry we'll never post on your behalf. We hate that too.)</i></p>
    
    <br>
<br>
<br>
<br>
<!--
    <p class="text-center lead">Or tell us about yourself:</p>


    
    <form id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
      </div>
    </form>-->
    
    <!--<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>-->


  </div>
  
  <div>
    
    
  </div>
  
</div>

    
{% endblock %}



