{% extends "bases/bootstrap-visitor.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="jumbotron text-center">
    <h1>Higher paying, flexible jobs in your neighborhood</h1>
    <p class="lead">
      Registration is free, easy and promotes your profile to 1000+ local employers.
    </p>
    <p>
      <a class="btn btn-lg btn-success " href="{% url 'account_signup' %}" role="button">Get Started</a>
      <!--or
      <a class="btn btn-lg btn-success" href="{% url 'account_login' %}" role="button">Log In</a>-->
      
      
    </p>
  </div>
</div>


    <div class="container">
        
    <div class="container">

      
      <img src="//d2r8jqmejizzox.cloudfront.net/a4f0693e/a70f66a1/1452798580-818x266x818x266x0x0-GP_Home_800px-800x260.jpg" class="img-responsive" style="height: 100%; width: 100%;" alt="flexjobs stop calling for a job">
      
  <br>
    
    <div class="row">
      <h3 class="text-center">Why FlexJobs Pro?</h3>
      <div class="well">
      FlexJobs Pro helps you find a better paying, more flexible job on your terms. If you’re ready to try to get more pay, more flexibility or better benefits, register today
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://cdn1.iconfinder.com/data/icons/aami-flat-emails/64/email-28-128.png" alt="salary and pay">
          <div class="caption">
            <h4>Up to date timings & pay</h4>
            <p>No more getting frustrated not being able to figure out if you would actually be able to work the job.</p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://cdn0.iconfinder.com/data/icons/jobs/512/Jobs_cashier-128.png" alt="cashier jobs"> <!--64, 48, 128, 256, available-->
          <div class="caption">
            <h4>Retail, restaurant, and admin jobs</h4>
            <p>Jobs across retail, admin, and food service so that you can find all openings in one place.</p>
          </div>
        </div>
      </div>
            
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://cdn4.iconfinder.com/data/icons/financial-6/128/033-128.png" alt="work on demand">
          <div class="caption">
            <h4>Options to work on demand</h4>
            <p>Including options to work for Uber, Lyft, and other on demand services so you can compare what you would make versus a traditional job.</p>
          </div>
        </div>
      </div>

     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://cdn2.iconfinder.com/data/icons/bold-outline-mix/128/inspiration_Vol.1-40-2-128.png" alt="salary and pay">
          <div class="caption">
            <h4>Employers reach out to you</h4>
            <p>From your free profile to a dedicated team to help you along the way, we have the help to increase your business exposure.</p>
          </div>
        </div>
      </div>
     
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://cdn4.iconfinder.com/data/icons/shopping-2-1/63/rating-128.png" alt="reviews">
          <div class="caption">
            <h4>Get feedback</h4>
            <p>Gain more feedback about your profile so that you can present yourself in the best way to employers using our free and customized review collection tools.</p>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://cdn2.iconfinder.com/data/icons/communications-flat-icons/128/message-3-128.png" alt="messages">
          <div class="caption">
            <h4>Message center</h4>
            <p>Communicate quickly with highly engaged employers and track multiple job applications through Message Center.</p>
          </div>
        </div>
      </div>
      
  </div>
   
   <div class="well well-sm">
  <div class="container">
    <h4>Ready to find a higher paying, more flexible job?</h4>
    <p><a class="btn btn-lg btn-success" style="margin-left:auto;margin-right:auto;display:block"  href="{% url 'account_signup' %}" role="button">Get Started</a></p>
  </div>
</div>
   
    
   
   
   
    
    </div>

    
    
    
    
    </div><!-- /.container -->

    

{% endblock %}


