<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body>
    <div class="container">
    	{% if user.is_authenticated %}
        	<h1>Prepare for your interview</h1>
        	<strong>{{ boldmessage }}</strong><br/>
        {% else %}
        	<h1>Prepare for your interview</h1>
        {% endif %}
    	<br>
		<div class="row">
		    <div class="col-sm-6 col-md-6">
			<form id="jobform" action="skills_api" method="post">
			<div class="form-group">
			    <label for="comment">Paste in a job description ... </label>
			    <textarea class="form-control" rows="10" id="job_desc" name=job_desc></textarea>
			</div>
			<button class="btn btn-primary btn-lg">Find skills for this job</button>
			</form>
		    </div>
			<div class="col-sm-6 col-md-6">
			<label for="comment">... see what skills required</label>
			<div id="result">
			    
			</div>
			</div>		    
		    
		    
		    
		    
		</div>
		<br>
		<div class="row">
			
			<div class="col-sm-6 col-md-6">
				Please send feedback <a target="blank" href="mailto:mr.bhandari@gmail.com?subject=Job Search Feedback">here</a>.
			</div>

		</div>
	</div>
    </body>
    
    <script type="text/javascript">
	$(document).ready(function(){
	    console.log("test");
	    
	//    var step_3 = function() {
	//	c.finish();
	//    };
	//    
	//    var step_2 = function(c, b) {
	//	ajax(c(b.somedata), step_3);
	//    };
	//    
	//    var step_1 = function(b, a) {
	//      ajax(b(a.somedata), step_2);
	//    };
	//    
	//    ajax(a, step_1);
	//    
	    $("#jobform").submit(
				 function (e) {
						console.log("Form submitted")
						e.preventDefault();
						var job_desc =  $( '#job_desc' ).val();
						
						$.ajax({
						    type:"POST",
						    url: "skills_api",
						    dataType : 'string',
						    data: 'job_desc='+encodeURIComponent(job_desc),
						    success: function(data){
							console.log("SUCCESS")
							console.log(data)
						     },
						     error: function(data){
							console.log("FAILURE")
							console.log(data)

							response = jQuery.parseJSON(data.responseText)
							console.log(response)
							outputHTML = ""
							
							
							$.each(response.important, function(i) {
							    console.log(response.important[i])
							    x = response.important[i]
							    outputHTML += '<div class="col-lg-6"><a href="'+ x.website +'" target="blank">'+ x.name +'</a> <span class="badge">'+ x.frequency.toString() + '</span><br><br></div>'
							}); 
							$('#result').append('<div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Key skills needed</h3></div><div class="panel-body" id="important_skills"></div></div>')
							$("#important_skills").html(outputHTML)
							
							outputHTML = ""
							$.each(response.not_important, function(i) {
							    console.log(response.not_important[i])
							    x = response.not_important[i]
							    outputHTML += '<div class="col-lg-6"><a href="'+ x.website +'" target="blank">'+ x.name +'</a> <span class="badge">'+ x.frequency.toString() + '</span><br><br></div>'
							}); 
							$('#result').append('<div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Other skills needed</h3></div><div class="panel-body" id="not_important_skills"></div></div>')
							$("#not_important_skills").html(outputHTML)
							
							//console.log(sorted);  //display array
							
							

						     }
						})
					    }
					    
				 )
	    });
    </script>
    
</html>
