<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body>
    <div class="container">
    	{% if user.is_authenticated %}
        	<h1>Prepare for your interview</h1>
        	<strong>{{ boldmessage }}</strong><br/>
        {% else %}
        	<h1>Prepare for your interview</h1>
        {% endif %}
    	<br>
		<div class="row">
		    <div class="col-sm-6 col-md-6">
			<form id="jobform" action="skills_api" method="post">
			<div class="form-group">
			    <label for="comment">Paste in a job description ... </label>
			    <textarea class="form-control"  rows="20" id="job_desc" name=job_desc placeholder="Job description"></textarea>
			    <br>
			    <label for="comment">Title of the job</label>
			    <input class="form-control"  rows="1" id="job_title" name=job_title placeholder="Job title"></input>
			</div>
			<button class="btn btn-primary btn-lg">Find skills for this job</button>
			</form>
		    </div>
			<div class="col-sm-6 col-md-6">
			<label for="comment">... see what skills required</label>
			<div id="result">
			    
			</div>
			</div>		    
		    
		    
		    
		    
		</div>
		<br>
		<div class="row">
			
			<div class="col-sm-6 col-md-6">
				Please send feedback <a target="blank" href="mailto:mr.bhandari@gmail.com?subject=Job Search Feedback">here</a>.
			</div>

		</div>
	</div>
    </body>
    

    
</html>
