{% extends 'hackathon/base.html' %}

{% block head-content %}
{% endblock %}

{% block body %}
<div class="container">

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Our Mission</h1>
	<p>Text a Counselor
	provides a single access point - available 24-7 - to real people who can help you find
	people find a job, identify training
	programs, and gain skills in growing industries. No matter if you are in college, graduating, looking to switch jobs, take
	comfort knowing you're in the right place to jump start your job search,
	explore new career options, or prepare to ace your interview.</p>
        <p><a class="btn btn-primary btn-lg" href="/how-it-works/" role="button">How it works &raquo;</a></p>
      </div>
    </div>


        
        
        
<div class="row">
<div class="col-sm-6 contact-form-holder">
    
<h4>Text a Counselor</h4>
    <ul xmlns="http://www.w3.org/1999/xhtml">
      <li>Your source for employment information and inspiration</li>
      <li>The place to manage your career</li>
      <li>Your pathway to career success</li>
      <li>Tools to help job seekers, students, businesses and career professionals</li>
      <li>Supported by employers</li>
    </ul>
    <h4>Text a Counselor products include:</h4>
    <div>
    <p>
        <p>
        <strong><a href="/why-text">Answer by Text</a></strong>
        <br>
        All the answers you need in one number that you can text anytime.
    </p>
        
      <p>
        <strong><a href="/skillsTool">Skill Finder</a></strong>
        <br>
Helps individuals identify skills needed for a job to prepare a better cover letter and prepare for the interview.</p>

        
        
    </div>
    </div>

<div class="col-md-5 col-sm-6 col-md-offset-1">
<h4>We want to hear from you.</h4>
<div class="text">

Send us your suggestions, feedback or questions and we&#8217;ll do our best to help. Please be as specific as possible to ensure the fastest and most accurate response.

</div>

<div class="contact-info">

<strong class="heading-text">Email</strong>
<ul class="email-list">
	<li><a href="mailto:john@manhattanprep.com">john@manhattanprep.com</a></li>
</ul>
<strong class="heading-text">PHONE</strong>
<ul class="tel-list">
	<li>Main: <a class="tel" href="tel:14153223102">(415) 322-3102</a></li>
        <li>Text: <a class="tel" href="sms:14153223102">(415) 322-3102</a></li>
</ul>
<strong class="heading-text">Hours</strong>

<dl class="timing-list"><dt>Mon–Thu</dt><dd><time datetime="2015-01-01">8:00am–11:30pm ET</time></dd><dt>Fri - Sun</dt><dd><time datetime="2015-01-01">9am–11:30pm ET</time></dd></dl></div>


<strong class="heading-text">CORPORATE HQ</strong>

<address>100 S Ellsworth Ave, 
San Mateo, CA 94401</address>

</div>
</div>
</div>


</div> <!--end container div-->
    
{% endblock %}