{% extends 'hackathon/base.html' %}

{% block head-content %}
{% endblock %}

{% block body %}

<div class="container">
    <br>
    
    <h2 id="media-default">Our customers</h2>
  <p class="lead">Hear what our customers have to say</p>
  <div class="bs-example" data-example-id="default-media">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="img-circle" src="https://www.essayedge.com/images/testimonials/generic_male_3.jpg" alt="Generic placeholder image" width="140" height="140">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Associate at McKinsey</h4>
        "I just received another invitation for an interview, this time at one of the places I thought I’d never get an interview. I'm sure that my cover letter helped me a lot and want to thank my counselor. She helped me improve things a lot and was great at answering all of my questions."
— STEPHEN
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Summer intern at Amazon</h4>
        "My interview was due in only 3 days when I texted you guys. I got a great advice and critique back immediately via text, as promised, so was able to make last minute changes that helped me get the job. Thanks!" — KRISH
      </div>
      <div class="media-right">
        <a href="#">
          <img class="img-circle" src="https://www.essayedge.com/images/testimonials/generic_male_2.jpg?timestamp=1447603360666" alt="Generic placeholder image" width="140" height="140">
        </a>
      </div>
    </div>
    
    
  <div class="bs-example" data-example-id="default-media">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="img-circle" src="https://www.essayedge.com/images/testimonials/medical_female_2.jpg" alt="Generic placeholder image" width="140" height="140">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Marketing associate at Walt Disney</h4>
        "The attention to detail in the service was fantastic. My counselor made many great suggestions and helped me think about the skills I needed to build up to get a job at Walt Disney in the marketing team. I'll definitely use this service again." — ANGELA
      </div>
    </div>
 <li class="divider"></li>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Accounting analyst at Deloitte </h4>
        "I got a job at Deloitte! Text a counselor was some of the best money I ever spent. My counselor’s comments were so insightful, they really pushed my interview answers to the next level. Thank you again for everything - I could not have done it without your service!" — JEFF
      </div>
      <div class="media-right">
        <a href="#">
            <img class="img-circle" src="https://www.essayedge.com/images/testimonials/medical_male_3.jpg" alt="Generic placeholder image" width="140" height="140">
        </a>
      </div>
    </div>

    

    
  
  <div class="bs-example" data-example-id="default-media">
    <div class="media">
      <div class="media-left">
        <a href="#">
            <img class="img-circle" src="https://www.essayedge.com/images/testimonials/mba_female_2.jpg" alt="Generic placeholder image" width="140" height="140">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Brand manager at Nike</h4>
        "Thank you so much for your professional and timely service. It's hard to believe that I could make this much improvement in my resume, cover letter and interview answers. I will surely recommend you to my friends." — AIMAN
      </div>
    </div><!--

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Programming internship</h4>
        "My interview was due in only 3 days when I texted you guys. I got a great advice and critique back immediately via text, as promised, so was able to make last minute changes that helped me get the job. Thanks!" — NOEL
      </div>
      <div class="media-right">
        <a href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="Generic placeholder image">
        </a>
      </div>
    </div>
    -->
    

  </div><!-- /.bs-example -->

  
  
</div> <!--container end-->  

    <br><br>
          <div class="container">
      <a  style="margin-left:auto;margin-right:auto;display:block" class="btn btn-lg btn-success" href="/get-started/" role="button">Start texting for free</a>
      </div>
      <br><br>

{% endblock %}