{% extends 'hackathon/base.html' %}

{% block head-content %}
{% endblock %}

{% block body %}
<div class="container">
     <div class="page-header">
            <h3>Get started</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="http://www.iphonefaketext.com/screens/NzI1MDQ.jpg">
            </div>
            
            <div class="col-md-6">
                <p class="lead">Its simple - start texting!</p>
                <h1> (415) 322-3102</h1>
            </div>
        
            
        </div>
          
          
    
    
    
    <br>
    
 

</div>


{% endblock %}