{% extends 'hackathon/base.html' %}

{% block head-content %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h3>How it Works</h3>
        </div>
    
          <p class="lead">When you text us, what you can expect:</p>
    
      <div class="row">
        <div class="col-sm-3 text-center">
          <img src="//glg.it/assets/images/icons/icon-bullseye.png">
          <h3>Specificity</h3>
          <p class="highlight">Connect to precise expertise to gain complete understanding of any job or career path</p>
        </div>
        <div class="col-sm-3 text-center">
          <img src="//glg.it/assets/images/icons/icon-clock.png">
          <h3>Availability</h3>
          <p class="highlight">Texting is available 24/7 so it works fast and is flexible to your schedule. </p>
        </div>
        <div class="col-sm-3 text-center">
          <img src="//glg.it/assets/images/icons/icon-arrow.png">
          <h3>Interactivity</h3>
          <p class="highlight">Texting enables us to have ongoing conversations that facilitate better knowledge exchange.</p>
        </div>
        <div class="col-sm-3 text-center">
          <img src="//glg.it/assets/images/icons/icon-handshake.png">
          <h3>Trust</h3>
          <p class="highlight">Texting is one-on-one and confidential, so you can feel comfortable asking any question to help you learn.</p>
        </div>
      </div>
    
    
    
    

      <!-- START THE FEATURETTES -->
      
      <h3>What can you text about?</h3>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h4 class="featurette-heading">Applying but not getting interviews?<span class="text-muted"> Fix your resume, cover letter, and application</span></h4>
          <p class="lead">Text someone who’s on the other side. See how your resume and cover letter stack up to other candidates’ they receive. See if there’s any obvious skill gaps or something missing in your strategy.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://newshour.s3.amazonaws.com/photos/2013/12/10/Working_on_laptop_business_desk.JPG" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h4 class="featurette-heading">Getting the interview but not the job?<span class="text-muted"> Expert interview prep</span></h4>
          <p class="lead">We’ll match you with an expert - someone who has worked in the job or industry you are interviewing for. Together we’ll craft a list of questions you’ll likely face so you can be prepared for what is often the most nerve-wrecking parts of the job search: the interview.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="http://www.jobsite.co.uk/worklife/files/2014/08/interviewtechnique_750x400.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h4 class="featurette-heading">Not sure where to start?<span class="text-muted"> Data driven opportunity matches</span></h4>
          <p class="lead">Have a counselor match you to opportunities based on your background, skills, and goals. If there’s a gap between what you want to do and your current skill set we’ll help you find the most common path to your ideal job. We’ll build a contact list and a list of events you should attend to get in touch with potential employers.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://tm-pilbox.global.ssl.fastly.net/?url=https%3A%2F%2Ftm-prod.global.ssl.fastly.net%2Fuploaded%2Fattachments%2F18003.jpg%3Fv%3D71e4496f90acc76051ffc8b1222dd7a1&h=367" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
      
      <div class="container">
      <a  style="margin-left:auto;margin-right:auto;display:block" class="btn btn-lg btn-success" href="/get-started/" role="button">Start texting for free</a>
      </div>
      <br><br>
    
    </div><!-- /.container -->

    
{% endblock %}