{% extends 'hackathon/base.html' %}

{% block head-content %}
{% endblock %}

{% block body %}
<div class="container">
    <br>
        
    <h3>Top interview questions using flashcards</h3>
    <p class="lead">100 potential job interview questions</p>
    <p>While there are as many different possible interview questions as there are interviewers, it always helps to be ready for anything. Use this tool to help get prepared.</p>
    <br>
    <iframe src="https://quizlet.com/102267609/flashcards/embed" height="510" width="100%" style="border:0"></iframe>
    
</div>
{% endblock %}