{% extends 'hackathon/base_lp.html' %}

{% block head-content %}
{% endblock %}

{% block body %}
    <div class="container">
        
    <div class="container">

      
      <img src="//d2r8jqmejizzox.cloudfront.net/a4f0693e/a70f66a1/1452798580-818x266x818x266x0x0-GP_Home_800px-800x260.jpg" style="height: 100%; width: 100%;" alt="">
      
        <div class="page-header">
            <h5 style="text-align: center;  ">Higher paying, flexible jobs in your zipcode</h5>
        </div>
        
        <div class="alert alert-warning">
            <strong>Stop driving around and calling!</strong>
        </div>
        
    
    
        <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Up to date timings & pay</h4>
          <p class="list-group-item-text">No more getting frustrated not being able to figure out if you would actually be able to work the job.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Retail, restaurant, and admin jobs</h4>
          <p class="list-group-item-text">Jobs across retail, admin, and food service so that you can find all openings in one place.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Options to work on demand</h4>
          <p class="list-group-item-text">Including options to work for Uber, Lyft, and other on demand services so you can compare what you would make versus a traditional job</p>
        </a>
        </div>  
    
    
<!--        <a class="btn btn-block btn-social btn-linkedin" href="/linkedin_login/">
          <i class="fa fa-linkedin"></i>
          Sign in with LinkedIn
        </a>-->
        <a class="btn btn-block btn-social btn-facebook" href="/facebook_login/">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
    
    </div>

    
    
    
    
    </div><!-- /.container -->

    
{% endblock %}

 

 


