{% extends 'hackathon/base.html' %}

{% block head-content %}
<meta name="robots" content="noindex">
    
<script src="https://webaudiodemos.appspot.com/AudioRecorder/js/audiodisplay.js"></script>
	<script src="/static/js/recorderjs/recorder.js"></script>
	
	
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.2.17.min.js"></script>
	<script type="text/javascript">
	  // See the Configuring section to configure credentials in the SDK
	  var creds = new AWS.Credentials('AKIAIVNNPV5UT7BRU6XA', 'cBbKW98uevn5jX0ynGnl8DxjyYYRTKZtzqFAZcYR');
	  AWS.config.credentials = creds
	  //AWS.config.update({accessKeyId: 'AKIAIVNNPV5UT7BRU6XA', secretAccessKey: 'cBbKW98uevn5jX0ynGnl8DxjyYYRTKZtzqFAZcYR'});
	  //AWS.config.credentials = 'ss';

	  // Configure your region
	  AWS.config.region = 'us-west-1';
	</script>

	<script src="/static/js/recorderjs/main.js"></script>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h3 id="forms">Record a mock interview</h3>
      <p class="lead">Use this tool hear what you sound like in an interview and share with a friend or mentor to get advice on how to make it better.</p>
    </div>
  </div>
</div>



<div class="container">
    
<h4>Interview Questions:</h4>
<div id="carousel-example" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <h3>#1 Tell me about yourself.</h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>#2 What are your strengths?</h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>#3 What are your weaknesses?</h3>
                        </div>
                    </div>
                </div>
		<div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>#4 Why do you want this job?</h3>
                        </div>
                    </div>
                </div>
		
		<div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>#5 Where would you like to be in your career five years from now?</h3>
                        </div>
                    </div>
                </div>
		<div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>#6 What's your ideal company?</h3>
                        </div>
                    </div>
                </div>
		<div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>#6 What attracted you to this company?</h3>
                        </div>
                    </div>
                </div>
		<div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>#6 Why should we hire you?</h3>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  
  
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
<br><br>

<a id="record" class="btn btn-danger btn-lg" src="https://webaudiodemos.appspot.com/AudioRecorder/img/mic128.png" onclick="toggleRecording(this);">Record</a>
		<a id="save" href="#" class="btn btn-primary btn-lg">Download</a>



      <style>
	.carousel-content {
	    color:black;
	    display:flex;
	    align-items:center;
	}
	/*html { overflow: hidden; }*/
/*	body { 
		font: 14pt Arial, sans-serif; 
		background: lightgrey;
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		margin: 0 0;
	}*/
	canvas { 
		display: inline-block; 
		background: #eeeeee; 
		width: 49%;
		height: 0.5%;
		border-color: #4caf50;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		border-color: #4caf50;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	/*#controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 20%;
		width: 100%;
	}*/
	/*#record { height: 15vh; }*/
	#record.recording { 
		background: red;
		background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
		background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
		background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
	}
	/*#save, #save img { height: 10vh; }*/
	#save { opacity: 0.25;}
	#save[download] { opacity: 1;}
	/*#viz {
		height: 80%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}*/
	@media (orientation: landscape) {
		body { flex-direction: row;}
		#controls { flex-direction: column; height: 100%; width: 10%;}
		#viz { height: 100%; width: 90%;}
	}

	</style>
	<h5>Instructions: Allow microphone access at the top of the screen.
	<br>Then, press the record button and answer the first question.
	<br>Continue by clicking the next question.
	<br>When you are done press "Record" again to stop recording.
	<br>You'll then be able to download a copy of your recording to listen to yourself or send to a friend for advice.</h5>
	<div id="viz">
		<canvas id="analyser"></canvas>
		<canvas id="wavedisplay"></canvas>
	</div>
	
		
	
	<!--<button class="btn btn-primary btn-lg" id="upload-button">Upload</button>-->
<div id="results"></div>


</div>
<br>
  <br>
    <br>
  
{% endblock %}