{% extends 'hackathon/base.html' %}

{% block head-content %}
    
{% endblock %}

{% block body %}
    <div class="container">
    <div class="page-header"><h1>Pricing</h1></div>
    <p class="lead">Start with our free plans and try out a counselor.</p>
    

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        TEXT THE EXPERTS</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>Free</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Match with an expert in your area</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>1000 texts per month</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-default" href="/get-started/">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center" style="color:#ffffff">
                        PHONE + TEXT</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>$50 / month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Match with an expert in your area</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited texts + 1 hour of mock interviews on phone</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-primary" href="/get-started/">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center" style="color:#ffffff">
                        WHITE GLOVE SERVICE</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>$200 / month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Match with an expert in your area</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited texts + 4 hours of mock interviews on phone</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-success" href="/get-started/">Get Started</a>
                </div>
            </div>
        </div>
      
    </div>
</div>






    </div> <!--end container-->
{% endblock %}