
{% extends 'hackathon/base_lp.html' %}
{% load socialaccount %}

{% block head-content %}
{% endblock %}

{% block body %}
<div class="page-header">
        <h1>{{ request.user.first_name }} {{ request.user.last_name }}'s Profile</h1>
      </div>
                    
        {% load account %}
        
        
        
        {% get_social_accounts user as accounts %}
        
        
        
        {% if request.user.is_authenticated %}
    <a href="/accounts/logout/" class="pull-right">Logout</a>
    
    <p>
    Name:
    {% if request.user.first_name or request.user.last_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% endif %}
    
    <img src="{{ request.user.profile.profile_image_url }}"/>
    </p>
    
    <p>
    Username: {{ request.user.username }}
    </p>
    
    <p>
    Account Status: {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
    </p>
    
    <p>Zipcode: {{ request.user.profile.zipcode }}</p>
    <p>Age: {{ request.user.profile.age }}</p>
    <p>Currently Employed?: {{ request.user.profile.currently_employed }}</p>
    <p>Paid Job Before?: {{ request.user.profile.paid_job_before }}</p>
    <p>Education Level: {{ request.user.profile.education_level }}</p>
        
    
    
 
{% else %}
    <a href="/accounts/login/" class="pull-right">Login</a>
{% endif %}

    
    



<br>

When you give an app access to your public profile, the app receives:

Your name, user id, username, profile picture, gender and network in order to identify you
Your age range, language and country in order to personalize the experience
Other info that you choose to make public




{% endblock %}
