{% extends "bases/bootstrap-member-jobs.html" %}

{% load bootstrap3 %}


{% load common_tags %}
{% load model_fields %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.get_full_name %}
        <title>{% if name_obj %}{{ name_obj }} on{% else %}&nbsp;{% endif %} My.jobs</title>
        <meta name="title" content="{% if name_obj %}{{ name_obj }} on{% else %}&nbsp;{% endif %} My.jobs">
    {% endwith %}
{% endblock %}
{% load i18n %}


{% block content %}
<div class="container">   
<div class="container">
    
                
    <div class="row" id="profileTitleRow">
        
      <p class="picture-frame">
      {% if user.profile.avatar_url %}<img alt="" src="{{user.profile.avatar_url}}" style="width: 256px; height: 256px" class="img-thumbnail">
      {% else %}No picture available yet.{% endif %}
      </p>
        <div> <!--class="span2"-->
            {% get_gravatar user '140' %}
        </div>
        <div id="profileTitleBar"> <!--class="span10"--> 

            <h3>{% if user.get_full_name %}{{user.get_full_name}}{%else%}&nbsp;{%endif%}</h3>

            <p class="lead">{{user.email}}</p>
        </div>
<!--        <div class="span10" id="profileSubtitleBar">
            <a href="{% url 'edit_account' %}">{% trans "Account Settings" %}</a>
        </div>-->
    </div>{# /profileTitleRow #}
    
    <div class="well">
        <h4>Status</h4>
        <p>You've finished creating a basic profile and employers can find you. The more you tell them about about yourself the higher the chances of employers contacting you.</p>
        <p><strong>Your discoverability score: <span id="highlight">{{user.profile_completion |add:"10"}}% </span></p></strong>
        
        <div>
            <div class="progress-bar progress-bar-{% completion_level user.profile_completion%}" role="progressbar" aria-valuenow="{{ user.profile_completion |add:"10"}}"
            aria-valuemin="0" aria-valuemax="100" style="width:{{ user.profile_completion |add:"10"}}%">
              {{ user.profile_completion |add:"10"}}%
            </div>
        </div>
        <br>
    </div>
    
    
    <div class="row">
        <div class="span8" id="moduleColumn">

            {% for module in profile_config.values %}

            
            {% with module.0|custom_template as c_template %}
                {% include "myprofile/profile_section.html" %}
            {% endwith %}

            {% endfor %}

        </div>
        <br>
        <div>
            <div class="well" id="moduleBank">

                <h4>Add a New Section</h4>
                <table class="table table-bordered tables-striped">
                {% for module in unit_names %}
                <tr class="profile-section" {% if module.items %}style="display:none;"{% endif %}><td>
                    <a id="{{module}}-new-section" href="{% url 'handle_form' %}?module={{module}}&id=new">
                        {{ module }}
                    </a>
                </td></tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>{# /row #}
</div>{# /container #}
</div>{# /container #}

{% endblock %}

{% block tail_js %}


   
{% endblock %}
