.tags {border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin:0 3px 6px 0;padding:5px 10px}
.tags :hover{border-color:#08C;}
.tags .primary{color:#FFF;background-color:#428BCA;border-color:#357EBD}
.tags .success{color:#FFF;background-color:#5CB85C;border-color:#4CAE4C}
.tags .info{color:#FFF;background-color:#5BC0DE;border-color:#46B8DA}
.tags .warning{color:#FFF;background-color:#F0AD4E;border-color:#EEA236}
.tags .danger{color:#FFF;background-color:#D9534F;border-color:#D43F3A}